@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Nunnito";
  src: url("../fonts/Nunito/NunitoSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.offset {
  padding: 100px 0;
}

.half-part {
  min-width: 50%;
}

.gray {
  background-color: #f5f5f5;
}

.accent {
  background-color: #10c9c3;
}

.white {
  background-color: #ffffff;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.img-block {
  display: block;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  border: 2px solid transparent;
  padding: 23px 46px;
  background-color: #10c9c3;
  transition: all .2s ease;
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #10c9c3;
  color: #ffffff;
}

.section-title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
  letter-spacing: 1.3px;
  padding-bottom: 40px;
  text-align: center;
}

.description {
  font-family: "Nunnito", sans-serif;
  font-size: 16px;
  color: #787878;
  line-height: 24px;
}

.navbar {
  background-color: #e9e9e9;
}

.navbar__block {
  max-height: 110px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__block-menu {
  display: flex;
  position: relative;
}

.navbar__block-menu-wrapper {
  display: flex;
}

.navbar__block-menu-wrapper-item {
  display: block;
  padding: 0 10px;
  text-transform: uppercase;
  color: #191919;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  transition: all .2s ease;
}

.navbar__block-menu-wrapper-item:hover {
  color: #10c9c3;
}

.navbar__block-menu-burger {
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 2px solid #191919;
}

.navbar__block-menu-burger-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__block-menu-burger-link span {
  position: relative;
  height: 2px;
  width: 14px;
  background-color: #191919;
  transition: all .2s ease;
}

.navbar__block-menu-burger-link span:before, .navbar__block-menu-burger-link span:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 14px;
  background-color: #191919;
  transition: all .2s ease;
}

.navbar__block-menu-burger-link span:before {
  top: -4px;
}

.navbar__block-menu-burger-link span:after {
  top: 4px;
}

.navbar__block-menu-burger-link-active span:before {
  top: 0;
  transform: rotate(-45deg);
}

.navbar__block-menu-burger-link-active span:after {
  top: 0;
  transform: rotate(45deg);
}

.navbar__block-menu-burger-link-active span {
  height: 0;
}

.navbar__hidden {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  transition: all .2s ease;
  z-index: 1000;
}

.navbar__hidden-active {
  transform: translateX(0%);
}

.navbar__hidden-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #10c9c3;
  padding: 30px;
  height: 100%;
  position: relative;
}

.navbar__hidden-wrapper-item {
  text-transform: uppercase;
  color: #191919;
  letter-spacing: 1.2px;
  padding: 10px 0;
}

.navbar__hidden-wrapper-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 3%;
}

.navbar__hidden-wrapper-close-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__hidden-wrapper-close-link span {
  position: relative;
  width: 15px;
  height: 1px;
  background-color: #191919;
  transform: rotate(45deg);
}

.navbar__hidden-wrapper-close-link span:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: #191919;
  transform: rotate(90deg);
}

@media (max-width: 800px) {
  .navbar__block-menu-wrapper {
    display: none;
  }
  .navbar__block-menu-burger {
    display: block;
  }
}

.header .promo {
  width: 100%;
  height: 100vh;
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.header .promo:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header .promo__block {
  position: relative;
  height: 100vh;
  display: flex;
  padding-top: 25%;
}

.header .promo__block-text {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.header .promo__block-text .title {
  font-size: 38px;
  padding-bottom: 3%;
}

.header .promo__block-text .description {
  font-size: 18px;
  color: #d1d1d1;
  letter-spacing: 1px;
  padding-bottom: 5%;
  font-family: "Nunnito", sans-serif;
}

@media (max-width: 568px) {
  .header .promo__block-text .title {
    font-size: 26px;
    padding-bottom: 5%;
  }
  .header .promo__block-text .description {
    font-size: 14px;
    line-height: 1.3;
    padding-bottom: 7%;
  }
}

.about__block-text {
  text-align: center;
}

.about__block-text .description {
  display: inline-block;
  max-width: 70%;
}

.about__block-text-img {
  padding-top: 37px;
}

@media (max-width: 500px) {
  .about__block-text .description {
    max-width: 100%;
  }
}

.skills__block {
  display: flex;
  width: 100%;
  background-color: #f8f9f9;
}

.skills__block-text {
  display: flex;
  flex-direction: column;
}

.skills__block-text-wrapper-progress {
  display: flex;
  flex-direction: column;
}

.skills__block-text-wrapper-progress .progress-title {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 1.4px;
  color: #000000;
  padding-bottom: 15px;
}

.skills__block-text-wrapper-progress .progress-bar {
  padding-bottom: 20px;
}

.skills__block-text-wrapper-progress .progress-bar progress {
  background-color: #d8d8d8;
  height: 3px;
  width: 80%;
  background-color: #10c9c3;
}

.skills__block-text-wrapper-progress .progress-bar progress::-webkit-progress-bar {
  background-color: #d8d8d8;
}

.skills__block-text-wrapper-progress .progress-bar progress::-webkit-progress-value {
  background-color: #10c9c3;
}

@media (max-width: 1200px) {
  .skills__block-img img {
    margin-top: 10%;
  }
}

@media (max-width: 992px) {
  .skills__block-img img {
    margin-top: 20%;
  }
}

@media (max-width: 865px) {
  .skills__block-text {
    min-width: 100%;
  }
}

.achievments__block-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.achievments__block-wrapper-item {
  width: 25%;
  color: #ffffff;
  display: flex;
}

.achievments__block-wrapper-item-icon {
  padding-right: 8%;
}

.achievments__block-wrapper-item-icon i {
  font-size: 48px;
}

.achievments__block-wrapper-item-text {
  padding-top: 3%;
}

.achievments__block-wrapper-item-text .title {
  font-size: 18px;
  letter-spacing: 1.2px;
}

.achievments__block-wrapper-item-text .descriptions {
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
}

@media (max-width: 992px) {
  .achievments__block-wrapper {
    width: 100%;
    justify-content: center;
  }
  .achievments__block-wrapper-item {
    width: 50%;
    padding-bottom: 30px;
  }
}

@media (max-width: 588px) {
  .achievments__block-wrapper-item {
    width: 100%;
  }
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.portfolio-wrapper-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 25%;
  position: relative;
  overflow: hidden;
}

.portfolio-wrapper-item:hover img {
  transform: scale(1.3);
}

.portfolio-wrapper-item:hover .hover-icon {
  opacity: 1;
}

.portfolio-wrapper-item:hover:before {
  background-color: rgba(20, 20, 20, 0.8);
}

.portfolio-wrapper-item .hover-icon {
  position: absolute;
  font-size: 48px;
  opacity: 0;
  z-index: 100;
  color: #ffffff;
  transition: all .2s ease;
}

.portfolio-wrapper-item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(131, 131, 131, 0.4);
  transition: all .2s ease;
  z-index: 100;
}

.portfolio-wrapper-item img {
  height: 100%;
  transition: all .2s ease;
}

.portfolio-wrapper .load-more {
  width: 100%;
  border: transparent;
  background-color: #f5f5f5;
  height: 100px;
  font-size: 14px;
  color: #8e8e8e;
  transition: all .2s ease;
}

.portfolio-wrapper .load-more:hover {
  cursor: pointer;
  color: #000000;
}

@media (max-width: 1200px) {
  .portfolio-wrapper-item {
    width: 50%;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .portfolio-wrapper-item {
    width: 100%;
    height: 400px;
  }
}

.video__block {
  width: 100%;
}

.video__block .description {
  text-align: center;
  padding-bottom: 60px;
}

.video__block-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 570px;
  overflow: hidden;
  background-color: #e9e9e9;
}

.video__block-video-play {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #10c9c3;
}

.services__block-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.services__block-wrapper-item {
  display: flex;
  flex-direction: column;
  width: 25%;
  text-align: center;
  padding-bottom: 70px;
}

.services__block-wrapper-item-icon i {
  font-size: 48px;
}

.services__block-wrapper-item-text {
  padding-top: 15px;
}

.services__block-wrapper-item-text .title {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  padding-bottom: 15px;
}

.services__block-wrapper-item-text .description {
  display: inline-block;
  width: 80%;
}

@media (max-width: 992px) {
  .services__block-wrapper-item {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .services__block-wrapper-item {
    width: 100%;
  }
}

.comments__block-slider {
  text-align: center;
}

.comments__block-slider-slide {
  color: #ffffff;
}

.comments__block-slider-slide .comment {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 1px;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 50px;
}

.slick-dots li {
  list-style-type: none;
  margin: 0 3px;
}

.slick-dots li button {
  padding: 4px;
  color: transparent;
  font-size: 0;
  background-color: #b0e8e6;
  border-radius: 100%;
  border: none;
  transition: all .15s ease;
}

.slick-dots .slick-active button {
  background-color: #ffffff;
  padding: 6px;
}

.partner__block-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.partner__block-wrapper-item {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

@media (max-width: 788px) {
  .partner__block-wrapper-item {
    min-width: 50%;
  }
}

@media (max-width: 400px) {
  .partner__block-wrapper-item {
    min-width: 100%;
  }
}

.feedback__block .description {
  display: block;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 50px;
}

.feedback__block-wrapper-form {
  width: 60%;
  margin: 0 auto;
}

.feedback__block-wrapper-form form {
  display: flex;
  flex-direction: column;
}

.feedback__block-wrapper-form form .row-input {
  display: flex;
  justify-content: space-between;
}

.feedback__block-wrapper-form form input, .feedback__block-wrapper-form form textarea {
  height: 40px;
  background-color: #ffffff;
  border: none;
  padding: 0 30px;
  font-family: "Nunnito", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}

.feedback__block-wrapper-form form textarea {
  padding: 20px 30px;
  min-height: 170px;
}

.feedback__block-wrapper-form form input#name, .feedback__block-wrapper-form form input#email {
  width: 48%;
}

.feedback__block-wrapper-form form .button-group {
  text-align: center;
}

.feedback__block-wrapper-form form .button-group .button {
  color: #ffffff;
  padding: 15px 35px;
}

.feedback__block-wrapper-form form .button-group .button:hover {
  color: #191919;
}

@media (max-width: 600px) {
  .feedback__block .description {
    width: 100%;
  }
  .feedback__block-wrapper-form {
    width: 100%;
  }
  .feedback__block-wrapper-form form .row-input {
    flex-direction: column;
  }
  .feedback__block-wrapper-form form .row-input input#name, .feedback__block-wrapper-form form .row-input input#email {
    width: 100%;
  }
}

.footer {
  background-color: #000000;
  color: #bcbcbc;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__block-copy .title {
  color: #ffffff;
  font-size: 18px;
  padding-bottom: 15px;
}

.footer__block-copy .copyriting {
  font-family: "Nunnito", sans-serif;
  font-size: 15px;
  width: 70%;
  line-height: 20px;
}

.footer__block-info {
  display: flex;
  flex-direction: column;
  padding-right: 10%;
}

.footer__block-info span {
  font-size: 15px;
  padding-bottom: 5px;
}

.footer__block-menu, .footer__block-social {
  display: flex;
}

.footer__block-menu ul, .footer__block-social ul {
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.footer__block-menu ul li, .footer__block-social ul li {
  list-style-type: none;
  padding-bottom: 7px;
}

.footer__block-menu ul li a, .footer__block-social ul li a {
  color: #bcbcbc;
  font-size: 15px;
}

.footer__block-menu ul li a:hover, .footer__block-social ul li a:hover {
  text-decoration: underline;
}

@media (max-width: 770px) {
  .footer__block {
    flex-direction: column;
    text-align: center;
  }
  .footer__block-copy {
    padding-bottom: 30px;
  }
  .footer__block-copy .copyriting {
    width: 100%;
  }
  .footer__block-info {
    padding: 0;
    padding-bottom: 30px;
  }
  .footer__block-menu, .footer__block-social {
    justify-content: center;
    padding-bottom: 30px;
  }
}
